[Aggregator]
Host = "0.0.0.0"
Port = {{.aggregator_port}}
RetryTime = "1m"
VerifyProofInterval = "10s"
TxProfitabilityCheckerType = "acceptall"
TxProfitabilityMinReward = "1.1"
ProofStatePollingInterval = "5s"
SenderAddress = "{{.aggregator.address}}"
CleanupLockedProofsInterval = "2m"
GeneratingProofCleanupThreshold = "10m"
ForkId = 9
WitnessURL = "{{.sequencer_rpc_url}}"
LERContract = "{{.ger_l2_address}}"
UseL1BatchData = true
UseFullWitness = true 
	[Aggregator.DB]
		Name = "{{.aggr_db.name}}"
		User = "{{.aggr_db.user}}"
		Password = "{{.aggr_db.password}}"
		Host = "{{.aggr_db.hostname}}"
		Port = {{.aggr_db.port}}
		EnableLog = false
		MaxConns = 200
	[Aggregator.Log]
		Environment = "development" # "production" or "development"
		Level = "debug"
		Outputs = ["stderr"]
	[Aggregator.StreamClient]
		Server = "{{.sequencer_ds_url}}"
	[Aggregator.EthTxManager]
		FrequencyToMonitorTxs = "1s"
		WaitTxToBeMined = "2m"
		ConsolidationL1ConfirmationBlocks = 5
		FinalizationL1ConfirmationBlocks = 10
		WaitReceiptToBeGenerated = "8s"
		PrivateKeys = [
			{Path = "/config/aggregator.keystore", Password = "{{.keystore_password}}"},
		]
		ForcedGas = 0
		GasPriceMarginFactor = 1
		MaxGasPriceLimit = 0
		PersistenceFilename = "/ethtxmanager_aggregator.json"
			[Aggregator.EthTxManager.Etherman]
				URL = "{{.l1_rpc_url}}"
				L1ChainID = {{.l1_chain_id}}
				HTTPHeaders = []
	[Aggregator.Synchronizer]
		[Aggregator.Synchronizer.DB]
            Name = "{{.aggrsync_db.name}}"
            User = "{{.aggrsync_db.user}}"
            Password = "{{.aggrsync_db.password}}"
            Host = "{{.aggrsync_db.hostname}}"
            Port = {{.aggrsync_db.port}}
			EnableLog = false
			MaxConns = 10
		[Aggregator.Synchronizer.Synchronizer]
			SyncInterval = "10s"
			SyncChunkSize = 1000
			GenesisBlockNumber = 1 
			SyncBlockProtection = "latest"
			SyncBlockProtectionOffset = 0
